<MudPaper Class="pa-4">
    <p class="mb-4">
        <b>Unlock a district</b>: Long-press the district you want to unlock.
    </p>

    <p>
        <b>Place or complete a district</b>: Tap the district you want to act on, then use the controls to:
    </p>
    <ul class="ml-8">
        <li>Place or remove it</li>
        <li>Complete or destroy it</li>
    </ul>
</MudPaper>

